body, html{
    padding: 0;
    margin: 0;
    height: 100%;

}
.phone {
    border-bottom: solid 2px #ADD6EB;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    padding-top: 0.5%;
}

.search-header {
    display: grid;
    justify-items: center;
    text-align: center;
    border: 1px solid #7FB6D9;
    background-color: #7FB6D9;
    border-radius: 80px;
    padding-bottom: 25px;

}
.search-placeholder{
    border: 1px solid #ADD6EB;
    background-color: #ADD6EB;
    padding: 6px;
    border-radius: 80px;
    width: 35%;
    max-width: 250px;
    min-width: 300px;
}
.search-input {
    width: 70%;
    border-radius: 80px;
    padding: 7px;
    border: 1px solid #ADD6EB;
    max-width: 400px;
    
    
}
.search-button {
    border: none;
    background-color: #ADD6EB;
}

nav {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
.navigation {
    padding: 30px 30px;
    
}

main {
    padding: 80px;
    margin-top: 20px;
}

/*Add the CSS code to center the p element*/
.intro > p {
    text-align: center;
    font-weight: bold;
    border: 1px solid  #A2D7CA;
    background-color: #A2D7CA;
    border-radius: 8px;
    padding: 10px;
    margin-top: -50px;
    
}

.container {
    background-image: linear-gradient(#ADD6EB, #D2D9DB);
    min-height: 100vh;
}

article {
    border: 1px solid white;
    border-radius: 10px;;
    background-color: white;
    margin: 20px;
    padding: 60px;
    
}
.intro-video {
    display: flex;
   justify-content: space-between;
}
.prostate-video {
    width: 50%;
    height: 100%;
}
.prostate-cancer-p {
    display: grid;
}
/*Look up on ways to reduce gaps between two elements in a div*/
.prostate-cancer-p > p {
    height: 180px;
}
#questions, #subscription {
    border-top: 2px solid white;
}

#questions, #subscription > h2, p {
    padding-left: 60px;
}

.figs {
    display: flex; 
    justify-content: center;
}
figcaption > p {
    text-align: center;
    padding: 0;
    
}
.fig1, .fig2, .fig3 {
    height: 800px;
    width: 400px;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 20px;
    border-radius: 20px;
    background-color: #A2D7CA;
    
}
img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

#subscription {
    width: 100%;
}
.email-sub {
    display: inline-block;
    width: 50%;
    height: 5vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    min-width: 500px;
    margin-top: 10px;
    margin-left: 10px;

}
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.form-row label {
    width: 25%;
}
.form-row input {
    width: 55%;
    border-radius: 20px;
    padding: 8px;
}
.email-sub button {
    border-radius: 20px;
    width: 20%;
    position: relative;
    left: 35%;
    transform: translate(35%);
    background-color: #7FB6D9;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 5px;
}

.email-sub button:hover {
    background-color: #55a3d3;
    color: #111111;
}